<a href="/directors">Directors</a>
<a href="/movies">Movies</a>
<a href="/actors">Actors</a>

<h1>Add a New Actor</h1>

<form action="/actors/add">
  <div>
  <label for="actor_name">Name:</label>
  <input id="actor_name" type="string" name="add_name">
</div>
<div>
  <label for="actor_bio">Biography</label>
  <input id="actor_bio" name="add_bio" type="string">
</div>
<div>
  <label for="actor_dob">DOB</label>
  <input id="actor_dob" name="add_dob" type="string">
</div>

<div>
  <label for="actor_image">Image URL</label>
  <input id="actor_image" name="add_image_url" type="string">

</div>

<button>New Actor</button>

</form>
