<h1>Add A New Director</h1>

<form action="/directors/create_row_directors">
  <div>
    <label for="director_name">Name:</label>
    <input id="director_name" type="string" name="n_name">
  </div>
  <div>
    <label for="director_bio">Bio:</label>
    <input id="director_bio" type="text" name="n_bio">
  </div>
  <div>
    <label for="director_dob">DOB:</label>
    <input id="director_dob" type="string" name="n_dob">
  </div>
  <div>
    <label for="director_image_url">Image URL:</label>
    <input id="director_image_url" type="string" name="n_image_url">
  </div>
  <div>
    <button>Create Director</button>
  </div>
</form>
